*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #222;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.sticky-header{
    background: white;
    height: 100px;
    z-index: 9999;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    padding: 0px 10%;
    display: flex;
    align-items: center;
}

.nav-bar{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 600;
    user-select: none;
}

.nav-bar li{
    cursor: pointer;
}

.nav-bar li:hover{
    color: red;
}

.selected{
    color: red;
    position: relative;
}

.selected::after{
    content: '';
    position: absolute;
    background-color: red;
    border-radius: 15%;

    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 30px;
}

.page-content{
    text-align: center;
}

/* CTA Bar */
.cta-bar{
    display: flex;
    background-color: #222;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.cta-text{
    color: white;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 18px;
}

.cta-btn{
    width: 180px;
    height: 45px;
    color: white;
    background-color: red;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.cta-btn:hover{
    background-color: rgb(230, 0, 0);
}

/* Welcome Banner */
.welcome-banner{
    background-color: whitesmoke;
    display: flex;
    padding: 0px 10%;
}

.welcome-container{
    
}

.welcome-stripe{
    width: 40px;
    height: 20px;
    /* background: repeating-linear-gradient(90deg, red,red 9px,white 0,white 18px); */
    background: repeating-linear-gradient(90deg,#e4002b,#e4002b 8px,#fff 0,#fff 16px);
}

.welcome-text{
    font-family: 'poppins';
    font-size: 35px;
    font-weight: 800;
    padding: 35px 0px;
    color: #222;
}

/* Section */
.section{
    width: 75%;
    margin: auto;
    padding-bottom: 100px;
}

/* Section Header */
.section-header{
    display: flex;
    padding: 100px 0px 70px 0px;
    font-family: 'poppins';
    font-size: 35px;
    font-weight: 700;
}

.section-title{
    padding: 0px 30px 0px 0px;
}

.line-box{
    flex: 1;
    border-top: 2px solid #eee;
    margin-top: .7em;
}

/* Categories */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
}

.card{
    background-color: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.4s;
}

.category-img-container{
    height: 230px;
    background-color: red;
    overflow: hidden;
}

.category-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
}

.category-title{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 600;
    padding: 35px 0px;
}

.card:hover .category-img{
    transform: scale(1.05);
}
.card:hover{
    transform: scale(1.05);
}

/* Footer */
.footer a{
    color: white;
    cursor: pointer;
}

.footer{
    background-color: #222;
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: 'poppins';
    padding: 50px;

    display: grid;
    gap: 100px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    place-items: center;
    margin-top: auto;
}

.footer-links{
    display: flex;
    gap: 20px;
}

.footer-logo-container{
    place-self: start;
}

.store-links-container{
    display: flex;
    gap: 50px;
    justify-self: start;
}

/* Menu */
.menu{
    width: 65%;
    margin: auto;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: auto 1fr;
}

/* Food Cards Container */
.food-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

/* Food Card */
.food-card{
    /* min-height: 500px; */
    background-color: whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

.food-image-container{
    background-color: #aaa;
    height: 300px;
    overflow: hidden;
}

.food-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.food-details{
    text-align: left;
    font-family: 'poppins';
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-cart{
    margin: 0px 0px 40px 40px;
}

.food-title{
    font-size: 19px;
    font-weight: 700;
}

.food-price{
    font-size: 16px;
    font-weight: 600;
}

.food-description{
    font-size: 16px;
    font-weight: 400;
}

/* Menu Nav Card */
.menu-nav-card{
    padding-right: 120px;
    font-family: 'poppins';
    text-align: left;

    position: sticky;
    top: 100px;
    align-self: start;
}

.menu-nav-title{
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu-nav-list{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-nav-item{
    color: #444;
    font-weight: 500;
}


/* Contact Banner */
.contact-banner{
    display: grid;
    height: 280px;
    place-content: center;
    font-family: 'poppins';
    background: url(./images/contact/contact-banner.jpg) rgba(33, 33, 33, 0.803);
    background-blend-mode: darken;
    background-size: cover;
}

.banner-contact{
    color: rgb(187, 187, 187);
    font-size: 22px;
    font-weight: 600;
}

.banner-text{
    color: white;
    font-size: 45px;
    font-weight: 800;
}

/* Contact Main */
.contact-main{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 65%;
    margin: auto;
    gap: 100px;
    text-align: left;
    padding-bottom: 100px;
}

.contact-stripe{
}

.contact-left-card{
    font-family: 'poppins';
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 100px;
    position: sticky;
    align-self: start;
}

.contact-left-title{
    font-size: 37px;
    font-weight: 700;
    margin-top: 10px;
}

.contact-left-desc{
    font-size: 16px;
    font-weight: 500;
}

.contact-left-button{
    border-radius: 50px;
    border: none;
    font-family: 'poppins';
    font-size: 16px;
    border: 1px solid #222;
    padding: 5px 25px;
    align-self: flex-start;
    margin-top: 10px;
}

/* Text input container */
.form{
    display: grid;
    gap: 30px;
    margin-top: 70px;
}

.text-input-container{
    display: flex;
    flex-direction: column;
    font-family: 'poppins';
    gap: 10px;
}

.text-input{
    height: 50px;
    border-radius: 5px;
    padding: 0px 17px;
    font-size: 16px;
    border: 1px solid #aaa;
    font-family: 'poppins';
    width: 100%;
}

.textarea-input{
    padding: 10px 17px;
    min-height: 90px;
    height: 160px;
    max-height: 350px;
    resize: vertical;
}

.text-label{
    font-size: 14px;
    font-weight: 800;
}

.submit-button{
    place-self: start;
    border: none;
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 700;
    background-color: red;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
}

/* Contact right card */
.contact-right-card{

}