*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #222;
}

.sticky-header{
    background: white;
    height: 100px;
    z-index: 9999;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    padding: 0px 10%;
    display: flex;
    align-items: center;
}

.nav-bar{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 600;
    user-select: none;
}

.nav-bar li{
    cursor: pointer;
}

.nav-bar li:hover{
    color: red;
}

.selected{
    color: red;
    position: relative;
}

.selected::after{
    content: '';
    position: absolute;
    background-color: red;
    border-radius: 15%;

    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 30px;
}

.page-content{
    text-align: center;
}

/* CTA Bar */
.cta-bar{
    display: flex;
    background-color: #222;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.cta-text{
    color: white;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 18px;
}

.cta-btn{
    width: 180px;
    height: 45px;
    color: white;
    background-color: red;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.cta-btn:hover{
    background-color: rgb(230, 0, 0);
}

/* Welcome Banner */
.welcome-banner{
    background-color: whitesmoke;
    display: flex;
    padding: 0px 10%;
}

.welcome-container{
    
}

.welcome-stripe{
    width: 54px;
    height: 25px;
    background: repeating-linear-gradient(90deg, red,red 9px,white 0,white 18px);
}

.welcome-text{
    font-family: 'poppins';
    font-size: 35px;
    font-weight: 800;
    padding: 35px 0px;
    color: #222;
}

/* Section */
.section{
    width: 75%;
    margin: auto;
}

/* Section Header */
.section-header{
    display: flex;
    padding: 100px 0px 70px 0px;
    font-family: 'poppins';
    font-size: 35px;
    font-weight: 700;
}

.section-title{
    padding: 0px 30px 0px 0px;
}

.line-box{
    flex: 1;
    border-top: 2px solid #eee;
    margin-top: .7em;
}

/* Categories */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
}

.card{
    background-color: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.4s;
}

.category-img-container{
    height: 230px;
    background-color: red;
    overflow: hidden;
}

.category-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
}

.category-title{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 600;
    padding: 35px 0px;
}

.card:hover .category-img{
    transform: scale(1.05);
}
.card:hover{
    transform: scale(1.05);
}